<div>
  <label [for]="id" class="block text-sm font-medium text-gray-700">{{ label }}</label>
  <input [id]="id" [type]="type" [placeholder]="placeholder" (input)="onInputChange($event)" (blur)="onBlur()"
    [ngClass]="{
      'border-red-500': control.touched && control.invalid,
      'focus:ring-red-500': control.touched && control.invalid,
      'focus:border-red-500': control.touched && control.invalid
    }"
    class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-primary focus:border-primary" />

  <p class="text-sm text-red-500 mt-1 min-h-5">{{ control.touched && control.invalid ? errorMessage : '' }}</p>
</div>
